@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body::-webkit-scrollbar {
  width: 5px;
  border-radius: 100px;
}

/* Track */
body::-webkit-scrollbar-track {
  position: absolute;
  background: #09091d;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #034388;
  border-radius: 100px;
}

.landing-hero {
  background: url(/images/ttten.svg), url(/images/bgs.webp) !important;
  background-position: bottom center, top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-hero-logo {
  background: url(/images/45.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.landing-hero-1 {
  background: url(/images/tttenv.svg), #0b1120 !important;
  background-position: bottom center, top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bg {
  background: linear-gradient(to bottom, black, black, transparent) !important;
}

.bg-blur {
  background: radial-gradient(at bottom, transparent, rgb(0, 0, 0, 0.75));
  box-shadow: inset 0 -100px 100px #0f172a;
}

.bg-animate {
  animation: bg-back 10s infinite linear;
}

@keyframes bg-back {
  0% {
    background: #3b82f6;
  }

  50% {
    background: transparent;
  }

  100% {
    background: #3b82f6;
  }
}

.marquee-width {
  width: 1280px !important;
  cursor: pointer;
  color: #6b7280;
}

@media screen and (max-width: 1280px) {
  .marquee-width {
    display: none;
  }
}

.border-top-clip::before {
  content: "";
  position: absolute !important;
  clip-path: polygon(
    75% 95%,
    100% 95%,
    100% 100%,
    75% 100%,
    50% 30%,
    25% 100%,
    0 100%,
    0 95%,
    25% 95%,
    50% 25%
  );
  background: linear-gradient(to left, transparent, #007af0, transparent);
  height: 5rem;
  width: 100%;
  margin-top: -6rem;
  z-index: 2;
}

.blur-effect::after {
  content: "";
  position: absolute !important;
  background: linear-gradient(to top, #0f172a, transparent);
  height: 5rem;
  width: 100%;
  margin-top: -7.5rem;
  z-index: 1;
}

.blur-effect-1::after {
  content: "";
  position: absolute !important;
  background: linear-gradient(to top, #0b1120, transparent);
  height: 5rem;
  width: 100%;
  margin-top: -9rem;
  z-index: 1;
}

.blur-effect-2::after {
  content: "";
  position: absolute !important;
  background: linear-gradient(to bottom, #0b1120, transparent);
  height: 25rem;
  width: 100%;
  margin-top: -4rem;
  z-index: 1;
}

/* .black-blur-effect::after {
  content: "";
  position: absolute !important;
  background: linear-gradient(to top, rgb(6, 26, 56), transparent);
  height: 5rem;
  width: 100%;
  margin-top: -7.5rem;
  z-index: 1;
} */

/* .border-top-clip::after {
  content: "";
  position: absolute !important;
  clip-path: polygon(
    75% 95%,
    100% 95%,
    100% 100%,
    75% 100%,
    50% 30%,
    25% 100%,
    0 100%,
    0 95%,
    25% 95%,
    50% 25%
  );
  background: linear-gradient(to left, transparent, #007af0, transparent);
  height: 5rem;
  width: 100%;
  transform: scaleY(-1);
  margin-top: -6rem;
} */

.what-do-we-offer::after {
  content: "What do we offer?";
  position: absolute;
  font-size: 4rem;
  color: #014eb110;
  text-align: center;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  font-weight: 800;
}

.security-services::after {
  content: "Security Services";
  position: absolute;
  font-size: 4rem;
  color: #014eb110;
  text-align: center;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.5rem;
  font-weight: 800;
}

.team-services::after {
  content: "Meet The Expert Team";
  position: absolute;
  font-size: 4rem;
  color: #014eb110;
  text-align: center;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.5rem;
  font-weight: 800;
}

.projects::after {
  content: "Cryptech Works";
  position: absolute;
  font-size: 4rem;
  color: #014eb110;
  text-align: center;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.5rem;
  font-weight: 800;
}

.contact::after {
  content: "Message Cryptech Services";
  position: absolute;
  font-size: 4rem;
  color: #014eb110;
  text-align: center;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.5rem;
  font-weight: 800;
}

/* .banner-card::after {
  content: "";
  position: absolute;
  clip-path: polygon(1% 0, 1% 75%, 98% 89%, 100% 100%, 0 100%, 0 0);
  background: #007af0;
  width: 100%;
  height: 100%;
} */

.to-package::before {
  content: "Package: ";
}

.pvot {
  background: #0f172a;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .project-selector {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: -50rem;
} */

.cryptechtest {
  background: url(/images/BG-B2.webp);
  background-position: center center;
  background-size: cover;
}

.lgp {
  background: url(/images/lgps.png);
  background-position: bottom right;
  background-size: cover;
}

.place {
  background: url(/images/place.PNG);
  background-position: bottom right;
  background-size: cover;
}

.metrimask {
  background: url(/images/mmcover1.webp);
  background-position: bottom right;
  background-size: cover;
}

.dust-cover {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(at top, transparent, #0b1120);
  position: absolute;
}

.dust-cover:after {
  content: "";
  position: absolute !important;
  background: linear-gradient(to top, #0b1120, transparent);
  height: 5rem;
  width: 100%;
  bottom: 0;
}

.dust-cover:before {
  content: "";
  position: absolute !important;
  background: linear-gradient(to bottom, #0b1120, transparent);
  height: 5rem;
  width: 100%;
  top: 0;
}

.underlined::before {
  width: 10rem;
  height: 0.2rem !important;
  content: "";
  position: absolute;
  bottom: -0.75rem;
  background: #0ea5e9;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.underlined-1::before {
  width: 10rem;
  height: 0.2rem !important;
  content: "";
  position: absolute;
  bottom: -0.75rem;
  background: #0ea5e9;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.blurs-effect::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0b274875, transparent);
}

/* .bg-team-card:hover {
  background: url(/images/4.png);
  background-position: right bottom;
  background-size: cover;
  transition: 0.2s;
} */

/* .cover-team::after {
  content: "";
  background: #0f172a;
  width: 100%;
  height: 6rem;
  position: absolute;
  left: 0;
  margin-top: -3.5rem;
  z-index: -1;
} */

.team-desc {
  visibility: hidden;
}

.team-image {
  transform: scale(0.9);
}

.team-hover:hover .team-image {
  transform: scale(0.8);
  background: #0f172a;
  transition: 0.2s;
}

.team-hover:hover .team-desc {
  visibility: visible;
  transition: 0.2s;
}

.team-hover:hover .team-name {
  display: flex;
  justify-content: center;
  padding-top: 0 !important;
}

.team-card-hover:hover {
  background: linear-gradient(to top, #004b9a50, #0f172a);
}

.swiper-slide-thumb-active .to-fog-proj::before {
  display: none;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1 !important;
  animation: bounce 2s ease infinite;
  filter: grayscale(0) !important;
  transform: scale(1.05) !important;
}
@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-5%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-2.5%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-1.5%);
  }
  100% {
    transform: translateY(0);
  }
}

.mySwiper .swiper-slide {
  filter: grayscale(1);
}

.swiper-slide:hover {
  filter: grayscale(0);
}

.swiper-slide .to-fog-proj::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0f172a90, transparent);
}

/* .to-fog-proj::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0f172a, transparent);
} */

.ctg {
  background: url(/images/BG-B2.webp), #0f172a !important;
  background-position: center center !important;
  background-size: cover !important;
  border: none !important;
}

.lgp {
  background: url(/images/lgps.png), #0f172a !important;
  background-position: center center !important;
  background-size: cover !important;
  border: none !important;
}

.mp {
  background: url(/images/place.PNG), #0f172a !important;
  background-position: center center !important;
  background-size: cover !important;
  border: none !important;
}

.mm {
  background: url(/images/mmcover1.webp), #0f172a !important;
  background-position: right center !important;
  background-size: cover !important;
  border: none !important;
}

.selector-triangle::before {
  content: "";
  clip-path: polygon(0 0, 0% 50%, 50% 0);
  background: black;
  width: 20rem;
  height: 20rem;
  position: absolute;
  top: 0;
  opacity: 50%;
}

.to-swipe {
  overflow: visible !important;
  display: flex !important;
  flex-wrap: wrap !important;
}

.contact-bg {
  background: radial-gradient(at top, #0b1120 20%, #0c2648);
  background-position: center center !important;
  background-size: cover !important;
}

/* .contact-bgs::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/images/4.png);
  background-position: left center !important;
  background-size: cover !important;
} */

.canvas-container {
  position: relative !important;
  z-index: 1 !important;
}

#tsparticles {
  position: relative !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  opacity: 100%;
  animation: particles 3s linear 1;
}

@keyframes particles {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.to-z-20 {
  z-index: 20 !important;
}
